h1,
h2,
h3,
h4,
h5,
h6 {
  text-box: trim-both cap alphabetic;
  font-weight: var(--title-font-weight);
  font-stretch: 90%;
  font-variation-settings: "opsz" 72;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
pre,
blockquote {
  width: 100%;
  margin-inline: auto;
  overflow-wrap: break-word;
}

html {
  background-color: var(--color-background-darker);
  color: var(--color-text);
}

body {
  font-family: var(--font-base);
  font-size: var(--size-step-0);
  font-weight: var(--font-weight);
}

h1, [data-heading-is="h1"] {
  font-size: var(--size-step-5);
}

h2, [data-heading-is="h2"] {
  font-size: var(--size-step-4);
}

h3, [data-heading-is="h3"] {
  font-size: var(--size-step-3);
}

h4, [data-heading-is="h4"] {
  font-size: var(--size-step-2);
}

h5, [data-heading-is="h5"] {
  font-size: var(--size-step-1);
}

h6, [data-heading-is="h6"] {
  font-size: var(--size-step-0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

blockquote {
  border-inline-start: solid var(--color-border);
  padding-inline-start: var(--space-s-m);
  /* padding-block: var(--space-xs); */

  & > *:first-child {
    margin-block-start: 0;
  }

  /* &::after {
    content: "”";
    font-size: var(--size-step-2);
    font-family: var(--font-display);

    position: relative;
    right: calc(var(--space-s-m) / 2);
    bottom: 0;
  } */
}

figure:has(blockquote) {
  margin-inline: unset;
}

cite::before {
  content: "—";
  padding-inline-end: 0.5ch;
}

table {
  border: 1px var(--color-border) solid;
  max-width: 100%;
  border-collapse: collapse;
  overflow: scroll;
}

th,
caption {
  text-align: start;
}

th:first-child,
tbody td:first-child {
  position: sticky;
  inset-inline-start: 0;
  border-inline-end: none;
  background-color: var(--color-background-lighter);
}

td:first-of-type,
:where(thead, tfoot) th:nth-child(2) {
  border-inline-start: none;
}

th:first-child::after,
tbody td:first-child::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  width: 1px;
  height: 100%;
  background: var(--color-border);
}

thead th:not(:first-child),
td {
  text-align: end;
}

th,
td {
  border: 1px var(--color-border) solid;
  padding: 0.25rem 0.75rem;
}

figcaption {
  font-size: smaller;
  color: var(--color-subtle);
}
