h1,
h2,
h3,
h4,
h5,
h6 {
  text-box: trim-both cap alphabetic;
  font-weight: var(--title-font-weight);
  font-stretch: 90%;
  font-variation-settings: "opsz" 72;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
pre,
blockquote {
  width: 100%;
  margin-inline: auto;
  overflow-wrap: break-word;
}

html {
  background-color: var(--color-bg);
  color: var(--color-text);
}

body {
  font-family: var(--font-base);
  font-size: var(--size-step-0);
  font-weight: var(--font-weight);
}

h1 {
  font-size: var(--size-step-5);
}

h2 {
  font-size: var(--size-step-4);
}

h3 {
  font-size: var(--size-step-3);
}

h4 {
  font-size: var(--size-step-2);
}

h5 {
  font-size: var(--size-step-1);
}

h6 {
  font-size: var(--size-step-0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

blockquote {
  border-inline-start: solid var(--color-border);
  padding-inline-start: var(--space-s-m);
  /* padding-block: var(--space-xs); */

  & > *:first-child {
    margin-block-start: 0;
  }

  /* &::after {
    content: "”";
    font-size: var(--size-step-2);
    font-family: var(--font-display);

    position: relative;
    right: calc(var(--space-s-m) / 2);
    bottom: 0;
  } */
}

cite::before {
  content: "—";
  padding-inline-end: 0.5ch;
}
