:root {
  /* ------------------------------------------------------------
  color
  ------------------------------------------------------------ */
  color-scheme: light dark;

  &[data-theme-appearance="light"] {
    color-scheme: light;
  }

  &[data-theme-appearance="dark"] {
    color-scheme: dark;
  }

  interpolate-size: allow-keywords;

  /* tints & shades */
  --0: 100% 0 h;
  --50: 99% calc(c / 8) h;
  --100: 94% calc(c / 4) h;
  --200: 88% calc(c / 2) h;
  --300: 70% c h;
  --300: 70% c h;
  --400: 60% c h;
  --500: 50% c h;
  --600: 40% c h;
  --700: 30% c h;
  --800: 20% calc(c / 2) h;
  --900: 15% calc(c / 4) h;

  /* source colors */
  --neutral: oklch(80% 0.01 210);
  /* --primary: oklch(30% 0.16 210);  */
  --secondary: oklch(70% 0.11 20);
  /* --clay: oklch(79% 0.004 67.77); */
  --pink: oklch(94.16% 0.0363 25.27);
  --blue: oklch(94.67% 0.0569 212.16);
  --green: oklch(95.72% 0.0647 164.21);
  --purple: oklch(93.31% 0.0436 332.17);
  --clay: oklch(88.51% 0.0227 91.16);
  --white: oklch(96.42% 0 89.88);

  --primary: var(--white);

  --color-text: light-dark(oklch(from var(--primary) var(--800)),
    oklch(from var(--primary) var(--100)));
  --color-bg-post: light-dark(oklch(from var(--primary) var(--50)),
    oklch(from var(--primary) var(--800)));
  --color-bg: light-dark(oklch(from var(--primary) var(--100)),
    oklch(from var(--primary) var(--900)));
  --color-shadow: light-dark(oklch(from var(--primary) var(--600)),
    oklch(from var(--primary) var(--900)));
  --color-border: light-dark(oklch(from var(--primary) var(--400)),
    oklch(from var(--primary) var(--600)));
  --color-subtle: light-dark(oklch(from var(--primary) var(--500)),
    oklch(from var(--primary) var(--300)));

  --font-base: "Lato",
  "Lucida Grande",
  Tahoma,
  -apple-system,
  system-ui,
  Sans-Serif;
  --font-display: "Roslindale Variable",
  "Georgia Pro",
  Georgia,
  serif;
  --font-mono: "MonoLisa",
  "Consolas",
  "Menlo",
  "Monaco",
  monospace;

  --shadow-elevation-low: 0.3px 0.5px 0.7px oklch(from var(--color-shadow) l c h / 0.34),
  0.4px 0.8px 1px -1.2px oklch(from var(--color-shadow) l c h / 0.34),
  1px 2px 2.5px -2.5px oklch(from var(--color-shadow) l c h / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px oklch(from var(--color-shadow) l c h / 0.36),
  0.8px 1.6px 2px -0.8px oklch(from var(--color-shadow) l c h / 0.36),
  2.1px 4.1px 5.2px -1.7px oklch(from var(--color-shadow) l c h / 0.36),
  5px 10px 12.6px -2.5px oklch(from var(--color-shadow) l c h / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px oklch(from var(--color-shadow) l c h / 0.34),
  1.5px 2.9px 3.7px -0.4px oklch(from var(--color-shadow) l c h / 0.34),
  2.7px 5.4px 6.8px -0.7px oklch(from var(--color-shadow) l c h / 0.34),
  4.5px 8.9px 11.2px -1.1px oklch(from var(--color-shadow) l c h / 0.34),
  7.1px 14.3px 18px -1.4px oklch(from var(--color-shadow) l c h / 0.34),
  11.2px 22.3px 28.1px -1.8px oklch(from var(--color-shadow) l c h / 0.34),
  17px 33.9px 42.7px -2.1px oklch(from var(--color-shadow) l c h / 0.34),
  25px 50px 62.9px -2.5px oklch(from var(--color-shadow) l c h / 0.34);

  /* ------------------------------------------------------------
  spacing
  ------------------------------------------------------------ */

  --space-2xs: clamp(0.375rem, 0.3414rem + 0.1678vi, 0.5rem);
  --space-xs: clamp(0.5625rem, 0.5122rem + 0.2517vi, 0.75rem);
  --space-s: clamp(0.75rem, 0.6829rem + 0.3356vi, 1rem);
  --space-m: clamp(1.125rem, 1.0243rem + 0.5034vi, 1.5rem);
  --space-l: clamp(1.5rem, 1.3658rem + 0.6711vi, 2rem);
  --space-xl: clamp(1.875rem, 1.7072rem + 0.8389vi, 2.5rem);
  --space-2xl: clamp(3rem, 2.7315rem + 1.3423vi, 4rem);
  --space-3xl: clamp(3.75rem, 3.4144rem + 1.6779vi, 5rem);
  --space-4xl: clamp(5.625rem, 5.1216rem + 2.5168vi, 7.5rem);
  --space-2xs-xs: clamp(0.375rem, 0.2743rem + 0.5034vi, 0.75rem);
  --space-xs-s: clamp(0.5625rem, 0.4451rem + 0.5872vi, 1rem);
  --space-s-m: clamp(0.75rem, 0.5487rem + 1.0067vi, 1.5rem);
  --space-m-l: clamp(1.125rem, 0.8901rem + 1.1745vi, 2rem);
  --space-l-xl: clamp(1.5rem, 1.2315rem + 1.3423vi, 2.5rem);
  --space-xl-2xl: clamp(1.875rem, 1.3045rem + 2.8523vi, 4rem);
  --space-2xl-3xl: clamp(3rem, 2.4631rem + 2.6846vi, 5rem);
  --space-3xl-4xl: clamp(3.75rem, 2.7433rem + 5.0336vi, 7.5rem);
  --space-s-l: clamp(0.75rem, 0.4144rem + 1.6779vi, 2rem);
  --space-l-3xl: clamp(1.5rem, 0.5604rem + 4.698vw, 5rem);

  /* ------------------------------------------------------------
  typography
  ------------------------------------------------------------ */

  /* font properties */
  /* --font-mono: 0; */
  --font-weight: 385;
  --title-font-weight: 500;

  &[data-theme-appearance="dark"] {
    --font-weight: 350;
    --title-font-weight: 450;
  }

  /* font size */
  --size-step-8: clamp(2.3125rem, 0.1313rem + 10.906vi, 10.4375rem);
  --size-step-7: clamp(2.0625rem, 0.7706rem + 6.4597vi, 6.875rem);
  --size-step-6: clamp(1.8125rem, 1.0742rem + 3.6913vi, 4.5625rem);
  --size-step-5: clamp(1.6875rem, 1.2177rem + 2.349vi, 3.4375rem);
  --size-step-4: clamp(1.5625rem, 1.2773rem + 1.4262vi, 2.625rem);
  --size-step-3: clamp(1.4375rem, 1.2865rem + 0.755vi, 2rem);
  --size-step-2: clamp(1.3125rem, 1.1951rem + 0.5872vi, 1.75rem);
  --size-step-1: clamp(1.1875rem, 1.1036rem + 0.4195vi, 1.5rem);
  --size-step-0: clamp(1.0625rem, 0.9954rem + 0.3356vi, 1.3125rem);
  --size-step--1: clamp(1rem, 0.9664rem + 0.1678vi, 1.125rem);
  --size-step--2: clamp(0.875rem, 0.8414rem + 0.1678vi, 1rem);
  --size-step--3: clamp(0.8125rem, 0.7957rem + 0.0839vi, 0.875rem);
  --size-step--4: clamp(0.625rem, 0.7043rem + -0.0839vi, 0.6875rem);
}

.home-link>svg {
  fill: var(--color-text);
}

@view-transition {
  navigation: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}