/* #logo { */
/* fill: var(--color-text); */
/* } */

body {
  overflow-x: clip;
}

/* nightmare code */
html {
  overflow-x: clip;
}

main {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-rows: max-content;
}

.blog-posts {
  --post-padding: var(--space-m);

  /* max-width: 40em; */
  list-style-type: none;
  padding: 0;
  margin-block: var(--space-m);

  &>.post-wrapper {
    min-width: 300px;
    margin-block: inherit;
  }
}

.u-photo[src="https://cdn.ewie.online/ewie-pfp.png"] {
  mix-blend-mode: luminosity;
}

body {
  display: grid;
  /* min-height: 100; */
  grid-template-rows: auto 1fr auto;
  max-width: 100vw;
}
