.post > * + * {
  padding-inline: var(--space-s-m);
}

.post-wrapper {
  /* view-transition-name: post; */
  margin-block: var(--space-m);
  /* border: 1px solid var(--color-border); */
  border-radius: var(--space-xs);
  background-color: var(--color-bg-post);

  /* box-shadow: 0 calc(var(--space-2xs) / 2) calc(var(--space-xs) / 2) 0.1em
    var(--color-shadow); */
  /* box-shadow: var(--shadow-elevation-medium); */
}

.post-wrapper.stack {
  h2 {
    margin-block-start: 0;
    padding-block-end: var(--space-m);
    border-bottom: 1px dashed var(--color-border);
  }

  & > * {
    padding-inline: var(--space-s-m);
  }

  & > *:first-child {
    padding-block-start: var(--space-m);
  }

  & > *:last-child {
    padding-block-end: var(--space-m);
  }
}

.post-wrapper {
  .metadata {
    background-color: var(--color-bg-post);
    /* border: 1px solid var(--color-border); */
    border-bottom: 1px dashed var(--color-border);
    border-radius: var(--space-xs) var(--space-xs) 0 0;
    /* padding: var(--space-xs); */
  }

  .post {
    background-color: var(--color-bg-post);
    border-radius: var(--space-xs);
  }
}

footer.bottom {
  border-top: 1px dashed var(--color-border);
  padding-inline: var(--space-s-m);
  padding-block: var(--space-s);

  display: flex;
  justify-content: space-between;
  vertical-align: center;

  .comments {
    /* font-size: 24px; */
    font-size: smaller;
  }

  .controls svg {
    stroke-width: 1.5px;
    height: 24px;
    width: auto;
  }
}

.metadata {
  padding-inline: var(--space-s-m);
  padding-block: var(--space-s);
  border-bottom: 1px dashed var(--color-border);

  &,
  .p-author {
    display: flex;
    align-items: center;
    gap: var(--space-xs);

    .author {
      font-weight: bold;
    }

    time {
      color: var(--color-subtle);
    }

    img {
      aspect-ratio: 1/1;
      height: 2em;
      border-radius: 1em;
    }
  }

  a {
    color: var(--color-text);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.title {
  font-weight: var(--title-font-weight, 450);
  /* padding-inline: var(--post-padding); */
  text-decoration: none;
  text-spacing-trim: trim-both;

  .title-link {
    color: var(--color-text);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.post > *:last-child {
  padding-block-end: var(--space-m);
}

.post .postbody > p:has(> img) {
  display: grid;
  place-content: center;
}

.tags {
  /* padding-inline: var(--post-padding); */

  font-size: smaller;

  ol {
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);

    .p-category {
      color: var(--color-subtle);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

::view-transition-group(comment-box) {
  z-index: 100;
}
