.stack {
  --stack-space: var(--space-m, 1.5rem);

  &>*:first-child {
    margin: 0;
  }

  &>*+* {
    margin-block-start: var(--stack-space);
  }
}

.center {
  --measure: 60ch;
  --center-padding: var(--space-s);
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
  padding-inline-start: var(--center-padding);
  padding-inline-end: var(--center-padding);
}

.shadow-med {
  box-shadow: var(--shadow-elevation-medium);
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-xs);
}

.eightyeight-by-thirtyone img {
  width: 88px;
  height: 31px;
  image-rendering: pixelated;
}

.pixel {
  width: 88px;
  height: 31px;
  image-rendering: pixelated;
}

.float\:inline-end {
  float: inline-end;
}

.no-list {
  list-style-type: none;
}

/* flex */