.stack {
  --stack-space: var(--space-m, 1.5rem);

  & > *:first-child {
    margin: 0;
  }

  & > * + * {
    margin-block-start: var(--stack-space);
  }
}

.center {
  --measure: 60ch;
  --center-padding: var(--space-s);
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
  padding-inline-start: var(--center-padding);
  padding-inline-end: var(--center-padding);
}

.shadow-med {
  box-shadow: var(--shadow-elevation-medium);
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-xs);
}

.eightyeight-by-thirtyone img {
  width: 88px;
  height: 31px;
  image-rendering: pixelated;
}

.pixel {
  width: 88px;
  height: 31px;
  image-rendering: pixelated;
}

.float\:inline-end {
  float: inline-end;
}

.no-list {
  list-style-type: none;
}

/*
 * clamps the box to 1 line. you can change the number of lines
 * by adjusting the `--line-clamp` variable from 1 to 2 or more
 */
.line-clamp {
  --line-clamp: 1;

  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp);
  line-clamp: var(--line-clamp);
  overflow: hidden;
  text-overflow: ellpsis;
  text-wrap: balance;
}

.spicy {
  font-family: "Recursive", sans-serif;
  font-variation-settings: "MONO" 0, "CASL" 1, "slnt" -13, "CRSV" 1;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
