<mouse-animation-viewport>
  <img src="https://cdn.ewie.online/mouse-running-brown.png" />
</mouse-animation-viewport>

<mouse-animation-viewport>
  <img src="https://cdn.ewie.online/mouse-running-white.png" />
</mouse-animation-viewport>

<mouse-animation-viewport>
  <img src="https://cdn.ewie.online/mouse-running-brown.png" />
</mouse-animation-viewport>
