{{ layout "layouts/root.vto" }}
  {{ comp.header({ menu_open: menu_open }) }}
  <!-- This fixes literally all my sizing issues for some reason -->
  <div>
    <main class="center">{{ content }}</main>
  </div>
  {{ comp.footer() }}
{{ /layout }}
