{{ layout "layouts/base.vto" }}

<header class="header-logo">
  {{ comp.logo({ url: url }) }}
</header>

{{ set hash = url |> hash }}
<style>
  ::view-transition-group(post-{{ hash }}) {
    box-shadow: var(--shadow-elevation-medium);
    z-index: 0;
  }
  ::view-transition-group(post-{{ hash }})::before {
    z-index: 1;
  }

  ::view-transition-group(post-{{ hash }})::after {
    z-index: -1;
  }
</style>

<!-- The post itself -->
<div class="post-wrapper mouse" style="view-transition-name: post-{{hash}};">
  {{ comp.reblog_post.index({ is_timeline: false, ...it}) }}
</div>

<section class="post-wrapper stack shadow-med" style="view-transition-name: comment-box;">
  <h2>Leave a comment</h2>

  <div class="comments">
    {{ comp.comments({ url: url }) }}
  </div>
</section>

<section class="stack" id="comments">
  {{ comp.comments_list({ url: url }) }}
</section>

{{ /layout }}
