{{ layout "layouts/base.vto" }}
{{ set postlist = results }}

<header class="header-logo">
  {{ comp.logo({ url: url }) }}
</header>

<div>
  <div class="blog-posts stack">
    {{ for post of postlist }}
      {{set hash = post.url |> hash}}
      <div class="post-wrapper" style="view-transition-name: post-{{ hash }};">
        {{ comp.reblog_post.index({ is_timeline: true, ...post }) }}
      </div>
    {{ /for }}
  </div>

  {{ comp.navigation({ pagi: page.data.pagination })}}
</div>

{{ /layout }}
