ul.comments {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment {
  padding-inline: var(--space-m);
  padding-block: var(--space-s);
}

.comment {
  display: grid;
  grid-template-columns: 1.5em auto;
  grid-template-rows: auto auto;
  /* gap: var(--space-xs);*/
  column-gap: 0.5rem;
  row-gap: var(--space-xs);
  grid-template-areas:
    "icon name-time"
    ". content";
}

.comment-icon {
  grid-area: icon;
  width: 1.5em;
  height: 1.5em;
  color: var(--favorite-color, var(--color-subtle, #000));
}

.name-time {
  grid-area: name-time;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: var(--space-xs);

  .comment-name {
    font-weight: bold;
  }

  time {
    color: var(--color-subtle);
  }
}

.comment-content {
  grid-area: content;

  & > *:first-child {
    margin-block-start: 0;
  }
}
