@supports (position-area: end) {
  [popover] {
    margin: 0;
    position-area: end span-end;
    position-try-fallbacks:
      flip-block,
      flip-inline,
      flip-block flip-inline;
  }
}

textarea {
  max-width: 100%;
}

#comment-form {
  display: grid;
  margin: 0;

  &:has(:nth-child(1)) {
    /*grid-template-columns: 1fr;*/
  }

  &:has(:nth-child(2)) {
    grid-template-rows: 1.2rem auto max-content auto;
    grid-template-columns: 48px auto;
    /*grid-gap: var(--space-m);*/
    grid-template-areas:
      "avatar attribution"
      "avatar body"
      ". body"
      ". interactibles";
  }

  & *:not([popover]) {
    display: block;
  }

  comment-avatar {
    grid-area: avatar;
    position: relative;
    aspect-ratio: 1;
    width: 100%;

    &:has(button) {
      cursor: pointer;
    }

    button {
      all: unset;
    }
    img {
      aspect-ratio: 1;
      width: 100%;
      height: 100%;
    }

    comment-editable-icon {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: lightgray;
      padding: 2px;
      border-radius: 9999px;
      margin: 2px;
    }
  }

  comment-attribution {
    grid-area: attribution;
  }

  comment-body {
    grid-area: body;

    textarea {
      resize: vertical;
      height: 4ex;
      /* max-width: 100%; */
      min-width: 100%;
    }
  }

  comment-interactibles {
    grid-area: interactibles;
  }

  avatar-popover {
    border: 1px solid var(--color-border);
    border-radius: var(--space-xs);
    margin-block: calc(var(--space-xs) / 2);
    margin-inline: var(--space-xs);
  }
}
