post-attribution {
  display: block;
  padding-block: var(--space-s);
  border-bottom: 1px dashed var(--color-border);
}

/* the only difference between the two is trying to ignore data elements in styles */
post-metadata {
  display: grid;
  /* aspect-ratio: 1; */
  height: 2em;
  
  grid-template-areas: "avatar metadata";
  grid-template-columns: max-content auto;
  &:has(post-reblog-metadata) {
    grid-template-areas: "avatar reblog" "avatar metadata";
    grid-template-rows: 42.5% 57.5%;
  }
}

post-avatar {
  grid-area: avatar;
  margin-inline-end: var(--space-xs);

  img {
    height: 2em;
    width: 2em;
    aspect-ratio: 1;
  }
}

post-reblog-metadata {
  grid-area: reblog;
  font-size: var(--size-step--1);
  color: var(--color-less-subtle);
  display: flex;
  align-items: center;

  & * {
    text-box-trim: trim-both;
  }
}

post-metadata-text {
  display: flex;
  align-items: center;
  & > div {
    gap: var(--space-xs);
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  grid-area: metadata;

  b {
    font-weight: 600;
  }

  span {
    color: var(--color-less-subtle);
  }

  a:has(time) {
    font-size: var(--size-step--1);
    margin-inline-start: var(--space-xs);
    color: var(--color-subtle);
    line-clamp: 1;
    text-decoration: none;
    text-overflow: ellipses;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
