html {
  background-color: var(--color-background-darker);
  color: var(--color-text);
}

body {
  font-family: var(--font-base);
  font-size: var(--size-step-0);
  font-weight: var(--font-weight);
}
