.prose {
  * + * {
    --space-stack: var(--space-m);
    margin-block-start: var(--space-stack);
  }
  :where(
    blockquote,
    dd,
    div,
    dl,
    dt,
    figcaption,
    figure,
    li,
    ol,
    p,
    pre,
    ul,
    hr,
    table
  ) {
    line-height: 1.5;
  }

  :where(
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl,
    pre,
    blockquote
  ) {
    width: 100%;
    margin-inline: auto;
    overflow-wrap: break-word;
  }

  :is(h1, h2, h3, h4),
  :is(
    [data-heading-is="h1"],
    [data-heading-is="h2"],
    [data-heading-is="h3"],
    [data-heading-is="h4"]
  ) {
    --space-stack: var(--space-xl-2xl);
  }

  h1,
  [data-heading-is="h1"] {
    --space-stack: var(--space-xl-2xl);
    font-size: var(--size-step-5);
  }

  h2,
  [data-heading-is="h2"] {
    --space-stack: var(--space-l-xl);
    font-size: var(--size-step-4);
  }

  h3,
  [data-heading-is="h3"] {
    --space-stack: var(--space-m-l);
    font-size: var(--size-step-3);
  }

  h4,
  [data-heading-is="h4"] {
    --space-stack: var(--space-m);
    font-size: var(--size-step-2);
  }
  h5, [data-heading-is="h5"] {
    font-size: var(--size-step-1);
  }

  h6, [data-heading-is="h6"] {
    font-size: var(--size-step-0);
  }

  :is(ul, ol) {
    margin-inline-start: var(--space-m);
    padding-inline-start: var(--space-xs);
    list-style-position: outside;

    & > li {
      /* padding-inline-start: var(--space-2xs); */

      p {
        --space-stack: var(--space-2xs);
      }
    }

    :is(ul, ol) {
      --space-stack: var(--space-2xs);
    }
  }

  & > :is(ul, ol) > li {
    p {
      margin-block: var(--space-2xs);
    }
  }

  li {
    --space-stack: var(--space-2xs);
  }

  :where(blockquote, picture, img, video, figure, code, pre, hr, table),
  p > :where(blockquote, picture, img, video, figure, code, pre, hr, table) {
    --space-stack: var(--space-l);
  }

  picture > img {
    --space-stack: 0;
  }

  figure > * {
    --space-stack: 0;
  }

  figcaption {
    color: var(--color-subtle);
    font-size: var(--size-step--1);
    line-height: 1.5;
    --space-stack: var(--space-xs);
  }

  kbd {
    font-size: var(--size-step--1);
    border-radius: var(--space-2xs);
    padding-block: var(--space-2xs-xs);
    padding-inline: var(--space-xs-s);
  }

  blockquote {
    --color-halftone: var(--color-background-halftone);
    --background-image-halftone:
      radial-gradient(
      var(--color-halftone) var(--size-halftone-dot),
      transparent var(--size-halftone-dot)
    ), radial-gradient(
      var(--color-halftone) var(--size-halftone-dot),
      transparent var(--size-halftone-dot)
    );
    --size-halftone-dot: 15%;
    border: unset;
    border-radius: var(--space-xs);
    padding-inline: var(--space-s-m);
    padding-block: var(--space-s);
    background-image: var(--background-image-halftone);
    background-position: 0px 0px, 2px 2px;
    background-size: 4px 4px;
    position: relative;

    &:before {
      margin-block: var(--space-s);
      content: "\200b";
      display: block;
      border-radius: 4px;
      border-inline-start: 3px solid var(--color-border);
      color: transparent;
      position: absolute;
      top: 0;
      bottom: 0;
      pointer-events: none;
    }

    & > * {
      padding-inline-start: var(--space-s-m);
    }
  }

  cite::before {
    content: "—";
    padding-inline-end: 0.5ch;
  }

  table {
    border: 1px var(--color-border) solid;
    max-width: 100%;
    border-collapse: collapse;
    overflow: scroll;
  }

  th,
  caption {
    text-align: start;
  }

  th:first-child,
  tbody td:first-child {
    position: sticky;
    inset-inline-start: 0;
    border-inline-end: none;
    background-color: var(--color-background-lighter);
  }

  td:first-of-type,
  :where(thead, tfoot) th:nth-child(2) {
    border-inline-start: none;
  }

  th:first-child::after,
  tbody td:first-child::after {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    width: 1px;
    height: 100%;
    background: var(--color-border);
  }

  thead th:not(:first-child),
  td {
    text-align: end;
  }

  th,
  td {
    border: 1px var(--color-border) solid;
    padding: 0.25rem 0.75rem;
  }

  @scope (.prose) to (.prose > * > *) {
    :where(img, video) {
      border-radius: var(--space-2xs);
    }
  }
}
