main > * {
  margin-block: 0;
}

/* From posts.css */

body {
  overflow-x: clip;
}

html {
  overflow-x: clip;
}

main {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-rows: max-content;
}

.blog-posts {
  --post-padding: var(--space-m);

  & > li {
    min-width: 300px;

    &.post-wrapper {
      margin-block: inherit;
    }
  }
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 100vw;
}
