---
layout: layouts/base.vto
title: Welcome!
draft: false
---

<h3>Latest posts</h3>
<div>
  {{ for post of search.pages("type=post", "order date=desc") }}
    <a href="{{post.url}}">
    <div>
      <h2>{{ post.title }}</h2>
      <div>
        {{ post.content |> md }}
      </div>
    </div>
    </a>
  {{ /for }}
</div>