---
layout: "layouts/base.vto"
menu_open: true
---

{{ comp.theme_picker() }}

{{# <script type="module" src="/assets/js/components/theme-picker.js"></script> #}}

<section class="stack">
    <div class="post-wrapper">
      <h3>Website</h3>
      <ul>
        <li><a href="/tags">Tags</a></li>
        <li><a href="/links">Links</a></li>
        <li><a href="/ask">Ask</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/feed">Feed</a></li>
      </ul>
    </div>
    <div class="post-wrapper">

    </div>

    <div class="post-wrapper button-list">

        <a href="https://damien.zone" title="damien dot zone">
            <img
                src="https://damien.zone/public/88x31_damien.png" alt="damien dot zone"
                class="pixel"
            />
        </a>
        <a href="https://auratriolo.com/blog/" target="_blank" rel="noopener" title="Aura!">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/aura-pixelbanner.gif" title="Aura!" alt="Aura!">
        </a><a href="https://blog.aurahack.jp/" target="_blank" rel="noopener" title="aurahack">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/aurahack.gif" title="aurahack" alt="aurahack">
        </a><a href="https://www.youtube.com/watch?v=FtutLA63Cp8" target="_blank" rel="noopener" title="Bad Apple">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/badapple.gif" title="Bad Apple" alt="Bad Apple">
        </a><a href="https://alyaza.neocities.org/" target="_blank" rel="noopener" title="birzeblog">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/birzeblog.gif" title="birzeblog" alt="birzeblog">
        </a><a href="https://brianna.town" target="_blank" rel="noopener" title="Brianna Townsend">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/briannatown.gif" title="Brianna Townsend" alt="Brianna Townsend">
        </a><a href="https://cdrom.ca/" target="_blank" rel="noopener" title="CD-ROM journal">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/cdromjournal.png" title="CD-ROM journal" alt="CD-ROM journal">
        </a><a href="https://cereza.zone/" target="_blank" rel="noopener" title="cereza.zone">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/cereza-88x31.gif" title="cereza.zone" alt="cereza.zone">
        </a><a href="https://cervine.online" target="_blank" rel="noopener" title="cervine.online">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/cervineDotOnline-88x31.png" title="cervine.online" alt="cervine.online">
        </a><a href="https://codarobo.online" target="_blank" rel="noopener" title="codarobo.online">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/88x31coda-borderless.png" title="codarobo.online" alt="codarobo.online">
        </a><a href="http://crouton.net/" target="_blank" rel="noopener" title="crouton.net">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/crouton.png" title="crouton.net" alt="crouton.net">
        </a><a href="https://blog.radicaldream.land/" target="_blank" rel="noopener" title="Dispatch from the Radical Dreamland">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/dispatchblog-banner.gif" title="Dispatch from the Radical Dreamland" alt="Dispatch from the Radical Dreamland">
        </a><a href="https://drac.at" target="_blank" rel="noopener" title="drac.at">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/dracat-now.gif" title="drac.at" alt="drac.at">
        </a><a href="https://estrogenandspite.neocities.org/" target="_blank" rel="noopener" title="Estrogen and Spite">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/estrogenandspite.png" title="Estrogen and Spite" alt="Estrogen and Spite">
        </a><a href="https://eva.town" target="_blank" rel="noopener" title="eva.town">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/eva-town.png" title="eva.town" alt="eva.town">
        </a><a href="https://ewie.online/" target="_blank" rel="noopener" title="evie on→line">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/88x31-evie.png" title="evie on→line" alt="evie on→line">
        </a><a href="https://gumdisease.neocities.org/" target="_blank" rel="noopener" title="gumdisease">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/gumblinkystamp3.gif" title="gumdisease" alt="gumdisease">
        </a><a href="https://nex-3.com" target="_blank" rel="noopener" title="House of Nettles">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/house-of-nettles.gif" title="House of Nettles" alt="House of Nettles">
        </a><img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/i-was-on-cohost.gif" title="I was on cohost" alt="I was on cohost"><a href="https://jkap.io" target="_blank" rel="noopener" title="jae kaplan">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/jkap.gif" title="jae kaplan" alt="jae kaplan">
        </a><a href="https://ellen.zone/" target="_blank" rel="noopener" title="kataspace">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/ellenzone.png" title="kataspace" alt="kataspace">
        </a><a href="https://kokoscript.com/" target="_blank" rel="noopener" title="kokoscript">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/kokoscript.gif" title="kokoscript" alt="kokoscript">
        </a><a href="https://lexfeathers.ca" target="_blank" rel="noopener" title="Lex Feathers">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/lexfeathers88x31.gif" title="Lex Feathers" alt="Lex Feathers">
        </a><a href="https://lizard.tools/" target="_blank" rel="noopener" title="lizard.tools">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/lizards-tools.png" title="lizard.tools" alt="lizard.tools">
        </a><a href="https://lmnt.me" target="_blank" rel="noopener" title="Louie Mantia">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/lmnt.gif" title="Louie Mantia" alt="Louie Mantia">
        </a><a href="https://macthemes.garden" target="_blank" rel="noopener" title="Mac Themes Garden">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/macthemes.garden.png" title="Mac Themes Garden" alt="Mac Themes Garden">
        </a><a href="https://meow.garden/" target="_blank" rel="noopener" title="meow.garden">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/meowgarden-88x31.png" title="meow.garden" alt="meow.garden">
        </a><a href="https://renkotsuban.com" target="_blank" rel="noopener" title="Midnight Reading: Renkon's Personal Site">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/renkotsuban.gif" title="Midnight Reading: Renkon's Personal Site" alt="Midnight Reading: Renkon's Personal Site">
        </a><a href="https://moonbase.lgbt/" target="_blank" rel="noopener" title="Moonbase Dot LGBT">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/moonbase.gif" title="Moonbase Dot LGBT" alt="Moonbase Dot LGBT">
        </a><a href="https://moonlitdecadence.neocities.org/" target="_blank" rel="noopener" title="moonlit decadence">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/88x31-moonlit.png" title="moonlit decadence" alt="moonlit decadence">
        </a><a href="https://naidje.com/" target="_blank" rel="noopener" title="Naidje's Page">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/naidje88x31.png" title="Naidje's Page" alt="Naidje's Page">
        </a><a href="https://moonbase.lgbt/blog/nes-pictionary-in-memoriam/" target="_blank" rel="noopener" title="NES Pictionary">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/nes-pictionary.png" title="NES Pictionary" alt="NES Pictionary">
        </a><a href="https://nickyflowers.com/" target="_blank" rel="noopener" title="Nicky Flowers' Web Crevice">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/nickyflowers.gif" title="Nicky Flowers' Web Crevice" alt="Nicky Flowers' Web Crevice">
        </a><a href="https://pixelde.su" target="_blank" rel="noopener" title="pixeldesu">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/pixeldesu.png" title="pixeldesu" alt="pixeldesu">
        </a><a href="https://platinumtulip.garden/" target="_blank" rel="noopener" title="platinumtulip">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/tulip88x31.gif" title="platinumtulip" alt="platinumtulip">
        </a><a href="https://queercomputerclub.ca/" target="_blank" rel="noopener" title="Queer Computer Club">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/qcq.png" title="Queer Computer Club" alt="Queer Computer Club">
        </a><a href="https://shadenexus.com/" target="_blank" rel="noopener" title="Shade Nexus">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/shadenexus.png" title="Shade Nexus" alt="Shade Nexus">
        </a><a href="https://sharkaeopteryx.neocities.org/" target="_blank" rel="noopener" title="sharkaeopteryx">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/shark-button.png" title="sharkaeopteryx" alt="sharkaeopteryx">
        </a><a href="https://blog.someplace-else.xyz/" target="_blank" rel="noopener" title="someplace elsewhere">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/elsewhere.gif" title="someplace elsewhere" alt="someplace elsewhere">
        </a><a href="https://suricrasia.online/" target="_blank" rel="noopener" title="Suricrasia Online">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/suricrasia.gif" title="Suricrasia Online" alt="Suricrasia Online">
        </a>
        <a href="https://yesterweb.org/" target="_blank" rel="noopener" title="The Yesterweb">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/yesterweb.png" title="The Yesterweb" alt="The Yesterweb">
          <a href="https://wavebeem.com">
            <img
                class="pixel"
                decoding="async"
                loading="lazy"
              width="88"
              height="31"
              alt="wavebeem.com"
              title="wavebeem.com"
              src="https://wavebeem.com/button.webp"
            />
          </a>
        </a><a href="https://websiteleague.org" target="_blank" rel="noopener" title="Website League">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/wl-88-31.png" title="Website League" alt="Website League">
        </a><a href="https://wyx.gay" target="_blank" rel="noopener" title="wyx.gay">
          <img class="pixel" decoding="async" loading="lazy" src="https://damien.zone/buttons/wyx.gay.png" title="wyx.gay" alt="wyx.gay">
        </a>
    </div>
</section>
