---
permalink: /_redirects
eleventyExcludeFromCollections: true
excludeFromSitemap: true
layout: false
---
{% for page in collections.all %}
{% if page.url and page.data.redirectFrom %}
{% for oldUrl in page.data.redirectFrom %}
{{ page.data.redirectFrom }} {{ page.url }} 301
{% endfor %}
{% endif %}
{% endfor %}