<!-- <footer>
  <div class="center">
    <nav class="post-wrapper">
        <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Ask</a></li>
        <li><a href="#">Feed</a></li>
        <li><a href="#">Colophon</a></li>
        </ul>
    </nav>
  </div>
</footer> -->
