
<div class="viewer">
  <img class="animation" src="https://cdn.some.pics/ewie/67f1e5683f90f.png"/>
</div>

<div class="viewer">
  <img class="animation" src="https://cdn.some.pics/ewie/67f1e001bd987.png"/>
</div>

<div class="viewer">
  <img class="animation" src="https://cdn.some.pics/ewie/67f1e5683f90f.png"/>
</div>
