<article class="post h-entry stack prose">
  {{# Structure: #}}
  	{{# Post wrapper #}}
   		{{#  #}}
  {{# Attribution - always #}}
	{{
		comp.post.attribution({
			author: {
				image: post.author_image,
				handle: post.author_handle
			},
			url: post.url,
			date: post.date,
		})
	}}
	{{# Post title - if there #}}

</article>
